

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

main {
    max-width: 1000px;
    margin: 0rem auto;
    padding: .25rem;
    background: white;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 8px;
}

.intro {
    max-width: 800px;
    margin: 0 auto 2.5rem;
    border: 0px solid #ddd; /* Light border to separate sections */
    border-radius: 8px;
    background-color: white; /* Slightly different background */
}


 .program {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd; /* Light border to separate sections */
    border-radius: 8px;
    background-color: #fafafa; 
}

.program h2 {
    font-family: 'Tiller Bold', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 1.9rem; /* Larger title for emphasis */
    color: #2a2a2a;
    margin-bottom: 0.5rem;
}

.program h4 {
    font-family: 'Tiller Bold', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 1rem;
}

.program p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1rem;
}

a {
    color: #025959; /* A soft teal that contrasts well */
    text-decoration: none; /* Removes the underline */
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #731b55; /* Darker shade on hover */
    text-decoration: underline; /* Optional: Adds underline on hover */
}


.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    line-height: 1.6;
}

.responsive-table th, .responsive-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
    font-size: 1rem;
    color: #333;


}

.responsive-table th {
    background-color: #f2f2f2; 
    /* color: #333; */
}

.responsive-table tbody tr:nth-child(even) {        
    background-color: #fafafa; 
}

.responsive-table td {
    text-align: left;
    font-size: 1rem;
}

.responsive-table td a {
    color: #025959;
    text-decoration: none;
}

.responsive-table td a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        margin: 1rem;
        padding: 1.5rem;
    }

    .program h2 {
        font-size: 1.5rem;
    }

    .program h4 {
        font-size: 1.1rem;
    }

    .program p {
        font-size: 0.95rem;
    }

    .responsive-table th,
    .responsive-table td {
        padding: 8px;
        font-size: 0.9rem;
    }
}

